h4 {
    font-family: 'Open Sans Semi-bold';
    color: #545454;
    text-align: center;
}

p {
    font-family: 'Open Sans Semi-bold';
    color: #545454;
    text-align: center;
}

.content--principal {
    background: #FFFFFF;
    border-radius: 13px;
    margin-bottom: 60px;
    padding: 10px;
    box-shadow: 0px 0px 4px 1px rgba(87, 86, 86, 0.466);
}

.content__principal--title {
    margin: 30px 25px;
    font-family: 'Open Sans Bold';
    font-weight: 400;
    color: #30BF97;
    font-size: 30px;
}

.content__principal--text {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Open Sans Semi-bold';
    color: #545454;
}


/**
    Style da sessao da equipe
************/

.team-member {
    margin-bottom: 50px;
    margin-left: 4px;
    text-align: center;
}

.team-member img {
    width: 185px;
    height: 185px;
    border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}