<div id="page">
    <div class="container">
        <div class="content--principal">

            <!-- INICIO SESSÃO-SOBRE -->
            <section class="sobre col-sm-12 col-lg-12">
                <div class="content__principal--title">
                    <h1>Sobre</h1>
                </div>
                <div class="content__principal--text text-center">
                    <p>Somos a 4-Front! Uma equipe composta por cinco integrantes que estão em busca de novos
                        conhecimentos
                        e desafios profissionais.
                        Cada integrante tem suas habilidades e áreas de especialidade, e unidos formamos um time
                        capacitado
                        para desenvolvimento web completo,
                        contemplando desde o design da interface até toda a programação Front-End. Fazemos aplicação de
                        HTML, CSS e JavaScript puros ou
                        com os frameworks Bootstrap, Angular e React

                    </p>
                </div>
            </section>
            <!-- FIM SESSÃO-SOBRE -->

            <!-- Team Section -->
            <section id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h2 class="content__principal--title">Nossa Equipe</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt="">
                                <h4>Mirela De Giuli</h4>
                                <p>mireladegiuli@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt=" ">
                                <h4>Rafael Rodrigues</h4>
                                <p>rafaelrodrigues_@outlook.com</p>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt=" ">
                                <h4>Thiago Dutra</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt="">
                                <h4>Pedro Henrique</h4>
                                <p>pedrohenriquer77@hotmail.com</p>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt=" ">
                                <h4>Renan Motta</h4>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12">
                        <p>Este site é resultado do projeto em equipe do curso de Capacitação em Desenvolvimento
                            Front-End
                            da Cocreare Academy.</p>
                    </div>
                </div>
            </section>
            <!-- end Team Section -->
        </div>
    </div>
</div>