<div id="page">
    <div class="container">
        <div class="content--principal">

            <!-- INICIO SESSÃO-SOBRE -->
            <section class="sobre col-sm-12 col-lg-12">
                <div class="content__principal--title">
                    <h1>Sobre</h1>
                </div>
                <div class="content__principal--text text-center">
                    <p>Somos a 4-Front! Uma equipe composta por cinco integrantes que estão em busca de novos
                        conhecimentos e desafios profissionais.
                    </p>
                    <p> Cada integrante tem suas habilidades e áreas de especialidade, e unidos formamos um time
                        capacitado
                        para desenvolvimento web completo,
                        contemplando desde o design da interface até toda a programação Front-End.
                    </p>
                    <p>
                        Fazemos aplicação de HTML, CSS e JavaScript puros ou
                        com os frameworks Bootstrap, Angular e React
                    </p>
                </div>
            </section>
            <!-- FIM SESSÃO-SOBRE -->

            <!-- Team Section -->
            <section id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h2 class="content__principal--title">Nossa Equipe</h2>
                        </div>
                    </div>

                    <div class="row members">

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt="">
                                <h4>Mirela De Giuli</h4>
                                <div class="contact-members">
                                    <a href="mailto:mireladegiuli@gmail.com"> <i class="fas fa-at"></i></a>
                                    <a href="https://github.com/mirelagiuli" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="https://br.linkedin.com/in/mirela-de-giuli" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt="">
                                <h4>Rafael Rodrigues</h4>
                                <div class="contact-members">
                                    <a href="mailto:rafaelrodrigues_@outlook.com"> <i class="fas fa-at"></i></a>
                                    <a href="https://github.com/rafael-rodrigues-santos" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/rafael-rodrigues-santos/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt=" ">
                                <h4>Thiago Dutra</h4>
                                <div class="contact-members">
                                    <a href="#"> <i class="fas fa-at"></i></a>
                                    <a href="https://github.com/thiagosilvadtr" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt="">
                                <h4>Pedro Henrique</h4>
                                <div class="contact-members">
                                    <a href="mailto:pedrohenriquer77@hotmail.com"> <i class="fas fa-at"></i></a>
                                    <a href="https://github.com/pedrohrb7" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/pedrohrb/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-auto col-md-auto">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="../../assets/media/images/team/avatar.png"
                                    alt=" ">
                                <h4>Renan Motta</h4>
                                <div class="contact-members">
                                    <a href="#"> <i class="fas fa-at"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 desc-projeto">
                        <p>Este site é resultado do projeto em equipe do curso de Capacitação em Desenvolvimento
                            Front-End
                            da Cocreare Academy.</p>
                    </div>
                </div>
            </section>
            <!-- end Team Section -->
        </div>
    </div>
</div>