<div id="page">
    <div class="container">
        <section class="login">

            <div class="login__titulo">
                <h1>Login</h1>
                <h2>(Área Restrita)</h2>
            </div>

            <div class="login__form">
                <form (ngSubmit)="validaLogin();" method="post">

                    <div class="login__email">
                        <label for="email">
                            <i class="far fa-envelope"></i>
                        </label>
                        <input [(ngModel)]="login" name="login" type="text" required>
                    </div>

                    <div class="login__password">
                        <label for="password">
                            <i class="fas fa-lock"></i>
                        </label>
                        <input [(ngModel)]="passwd" name="passwd" type="password" required>
                    </div>

                    <div class="login__btn">
                        <button type="submit">Acessar</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>