<!-- START SECTION - RESPONSE__MANAGEMENT -->


<div class="container">
  <div class="title">
    <h3>Gerenciamento de Respostas</h3>
  </div>
  <table class="management" id="management">
    <tbody>
      <tr class="management__list" *ngFor="let list of listar | paginate: { itemsPerPage: 3, currentPage: pag };">
        <td class="list__name">
          {{list.fields.Nome}}
        </td>
        <td class="list__email">
          {{list.fields.Email}}
        </td>
        <td class="list__phone">
          {{list.fields.Telefone}}
        </td>
        <td class="list__contact__form">
          {{list.fields['Forma de contato']}}
        </td>
        <td class="list__availability__contact">
          {{list.fields['Disponibilidade para contato']}}
        </td>
        <td class="list__subject">
          {{list.fields.Assunto}}
        </td>
        <td class="list__content">
          {{list.fields['Conteúdo']}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pages">
    <pagination-controls (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
  </div>
</div>
<!-- END SECTION - RESPONSE__MANAGEMENT -->
