  <!-- START SECTION - LOGIN -->
  <section class="login">
    <div class="login__img">
        <img src="./media/images/user.png" alt="foto usuário">
    </div>
    <div class="login__user">
        <p>Nome</p>
    </div>
    <div class="login__management">
        <div class="pages">
            <h3>Páginas</h3>
            <p><a href="index.html" target="_parent"> Home </a></p>
            <p><a href="about.html" target="_parent"> Sobre </a></p>
            <p><a href="#"> Nova Página </a></p>
        </div>
        <div class="quiz">
            <h3>Formulário</h3>
            <p><a href="response__management.html" target="response__management"> Gerenciamento de Respostas </a>
            </p>
            <p><a href="edit__form.html" target="_parent">Editar Formulário</a></p>
        </div>
    </div>

    <div class="btn__exit">
        <button>Encerrar Sessão</button>
    </div>
</section>
<!-- END SECTION - LOGIN -->
