h2 {
    color: rgb(48, 191, 151);
    font-family: 'Open Sans Bold';
}

label {
    font-family: 'Open Sans';
}

#page {
  background: rgb(236, 236, 236);
  padding: 5%;
  overflow-x: hidden;
}

/**************************************************************************/
.main--content {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 32px;
}

.form--content {
    width: 450px;
    max-width: 100%;
    margin-right: 50px;
}

.form--content label {
    margin-top: 15px;
}

form .send--button {
    border: none;
    background: rgb(48, 191, 151);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'open sans bold';
    padding: 0 25px;
    margin-top: 15px;
}

.send--button:hover {
    text-decoration: none;
    background: rgb(37, 143, 113);
    color: rgb(255, 255, 255);
}

.cancel--button {
    border: none;
    background: transparent;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'open sans bold';
    color: rgb(170, 170, 170);
    padding: 0 20px;
    margin-top: 15px;
    margin-right: 5px;
}

.cancel--button:hover {
    color: rgb(119, 119, 119);
}

.form--content__contact {
    border-radius: 5px;
    border: 3px solid rgba(185, 185, 185, 0.6);
    padding: 32px;
    margin-top: 20px;
}

.form--content__contact h2 {
    font-size: 20px;
}

.form--content__contact h3 {
    font-size: 18px;
}
