/*---tags---*/

html, body {
    margin: 0;
    padding: 0;
}

nav object{
    width: 100%;
}

textarea{
    width:400px;
    padding-bottom: 40px;
    margin: 5px 0 20px 0;    
}

select{
    margin: 5px 0 10px 0;
    width: 120px;
    height: 25px;
}

h2{
    color: #0F8E6B;
}

button{
    font-size: 20px;
    color: #fff !important;
    background-color: #0F8E6B;
    border-radius: 35px;
    padding: 5px;
    cursor:pointer;
    
}

/*---ids---*/

#btn{
    display: inline;
    margin-left: 100%;

}

#text{
    width: 150px;
}

#title{
    font-size: 30px;
    text-align:left;
    margin-bottom: 15px;
    color: #0F8E6B;
}

/*---classes---*/

.container>*{
border-radius: 3px;
border: 1px solid rgb(255, 255, 255, 0.25);
background-color: #fff;
margin: 10px;
padding: 20px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 70%;
    max-height: 750px;
}

.box{
    margin-top: 40px;
    border:solid #A4A4A4;
    width:300px;
    float:right;
    height: 300px;
    padding: 10px 20px 0 30px;
    box-sizing: border-box;
    
}

.box2{
    margin-top: 40px;
    width:300px;
    float:left;
    height: 500px;
    box-sizing: border-box;
    
}


.input-form{
    width:400px;
    padding-bottom: 13px;
    margin: 5px 0 15px 0;
    
}

.label-form{
    text-align:left;
    color: black;
    
}

.input-2{
    margin-bottom: 2px;
    
}

.label-2{
    margin-bottom: 10px;
    text-align: left;

}

.sub-title{
    font-size: 18px;
    margin: 15px 0 10px 0;
    text-align: left;
}