<div id="page">

    <div class="container">
        <div class="main--content">

            <h2 *ngIf="!enviado">Novo Cadastro</h2>
            <hr>
            <div class="message"></div>
            <div class="message">
            
            </div>
            <form name="form-Index" id="form-Index" (ngSubmit)="cadastrar()">
                <div *ngIf="enviado" id="formSend"> 
                    Seu cadastro foi enviado.<br>Obrigado!
                </div>
                <div *ngIf="!enviado" class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form--content form-group">
                            <label for="name">Nome:</label>
                            <input [(ngModel)]="data.records[0].fields.Nome" #v_name="ngModel" class="form-control" type="text" name="name"
                                id="name" minlength="3" placeholder="Nome completo" required>
                            <div *ngIf="v_name.invalid && (v_name.dirty || v_name.touched)" class="alert alert-danger">
                                <div *ngIf="v_name.errors.required">
                                    Nome é necessário
                                </div>
                                <div *ngIf="v_name.errors.minlength">
                                    O nome deve ter no mínimo 3 caracteres.
                                </div>
                            </div>

                            <label for="email">Email:</label>
                            <input [(ngModel)]="data.records[0].fields.Email" #v_email="ngModel" class="form-control" type="email" name="email"
                                id="email" placeholder="Endereço de email"
                                title="Preencha o campo no seguinte modelo: email@dominio.com" required="required"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <div *ngIf="v_email.invalid && (v_email.dirty || v_email.touched)"
                                class="alert alert-danger">
                                <div *ngIf="v_email.errors.required">
                                    O campo "email" precisa ser preenchido.
                                </div>
                                <div *ngIf="v_email.errors.pattern">
                                    Digite um formato correto para email.
                                </div>
                            </div>

                            <label for="phone">Telefone:</label>
                            <input [(ngModel)]="data.records[0].fields.Telefone" #v_phone="ngModel" class="form-control" type="tel" name="phone"
                                id="phone" placeholder="Telefone" title="Preencha o telefone" required="required"
                                pattern="\([0-9]{2}\)[\s][0-9]{4,5}-[0-9]{4}">
                            <div *ngIf="v_phone.invalid && (v_phone.dirty || v_phone.touched)"
                                class="alert alert-danger">
                                <div *ngIf="v_phone.errors.required">
                                    O campo "Telefone" precisa ser preenchido.
                                </div>
                                <div *ngIf="v_phone.errors.pattern">
                                    Digite um formato correto para telefone.
                                </div>
                            </div>

                            <label for="subject">Assunto</label>
                            <select [(ngModel)]="data.records[0].fields['Assunto']" name="subject" id="subject" class="form-control" required>
                                <option value="assunto1">Assunto 1</option>
                                <option value="assunto2">Assunto 2</option>
                            </select>

                            <label for="msgContent">Conteúdo:</label>
                            <textarea [(ngModel)]="data.records[0].fields['Conteúdo']" name="msgContent" id="msgContent" rows="4"
                                class="form-control" required></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form--content__contact">

                            <h2>Informações de Contato</h2>
                            <h3>Forma de contato:</h3>

                            <div class="form-check">
                                <input [(ngModel)]="data.records[0].fields['Forma de contato']" type="radio" name="conta" id="email-contact" class="form-check-input"
                                    value="Email">
                                <label for="email-contact"> Email </label>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="data.records[0].fields['Forma de contato']" type="radio" name="conta" id="tel-contact" class="form-check-input"
                                    value="Telefone">
                                <label for="tel-contact">Telefone</label>
                            </div>

                            <h3>Disponibilidade para contato:</h3>

                            <div class="form-check">
                                <input [(ngModel)]="disponibilidade['Comercial']" class="form-check-input" type="checkbox" name="disp1" id="input-comercial" value="comercial">
                                <label class="form-check-label" for="input-comercial">Seg. a Sexta - horário
                                    comercial</label>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="disponibilidade['Manha']" class="form-check-input" type="checkbox" name="disp2" id="input-manha" value="manha">
                                <label class="form-check-label" for="input-manha">Seg. a Sexta - Período da
                                    manhã</label>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="disponibilidade['Tarde']" class="form-check-input" type="checkbox" name="disp3" id="input-tarde" value="tarde">
                                <label class="form-check-label" for="input-tarde">Seg. a Sexta - Período da
                                    tarde</label>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="disponibilidade['Noite']" class="form-check-input" type="checkbox" name="disp4" id="input-noite" value="noite">
                                <label class="form-check-label" for="input-noite">Seg. a Sexta - Período da
                                    noite</label>
                            </div>

                            <div class="form-check">
                                <div class="form-others">
                                    <label for="text-input" class="form-check-label">Outros:</label>
                                    <input [(ngModel)]="disponibilidade['Outros']" class="form-control" type="text" name="disp5" id="text-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="buttons">
                        <button type="reset" class="btn cancel--button">Cancelar</button>
                        <button type="submit" class="btn send--button">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
